body {
  margin: 0;
}

.pic {
  background: url("media/your_verse_hero.jpg") -70px -780px no-repeat;
  width: 100vw;
  height: 580px;
  margin: auto;
  z-index: 1;
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 85px;
  vertical-align: middle;
}

.nav-buttons {
  width: 102px;
  height: 30px;
  color: white;
  border: 1px solid rgb(29, 29, 29);
  background: rgba(148,148,148,1);
  background: -moz-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(148,148,148,1)), color-stop(49%, rgba(61,60,61,1)), color-stop(100%, rgba(135,135,135,1)));
  background: -webkit-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  background: -o-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  background: -ms-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  background: linear-gradient(to bottom, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#878787', GradientType=0 );
}

.nav-buttons:hover {
  background: rgba(117,117,117,1);
  background: -moz-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(41,41,41,1) 49%, rgba(117,117,117,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(117,117,117,1)), color-stop(49%, rgba(41,41,41,1)), color-stop(100%, rgba(117,117,117,1)));
  background: -webkit-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(41,41,41,1) 49%, rgba(117,117,117,1) 100%);
  background: -o-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(41,41,41,1) 49%, rgba(117,117,117,1) 100%);
  background: -ms-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(41,41,41,1) 49%, rgba(117,117,117,1) 100%);
  background: linear-gradient(to bottom, rgba(117,117,117,1) 0%, rgba(41,41,41,1) 49%, rgba(117,117,117,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#757575', GradientType=0 );
}

#apple-button {
  border-radius: 5px 0 0 5px;
  border: 1px solid rgb(29, 29, 29);
}

#box-form {
  width: 132px;
  height: 30px;
  color: white;
  background: rgba(148,148,148,1);
  background: -moz-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(148,148,148,1)), color-stop(49%, rgba(61,60,61,1)), color-stop(100%, rgba(135,135,135,1)));
  background: -webkit-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  background: -o-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  background: -ms-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  background: linear-gradient(to bottom, rgba(148,148,148,1) 0%, rgba(61,60,61,1) 49%, rgba(135,135,135,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#878787', GradientType=0 );
  border-radius: 0 5px 5px 0;
  border: 1px solid rgb(29, 29, 29);
  box-sizing: border-box;
}

#search-bar {
  margin-top: 4px;
  width: 100px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: darkgray;
  border: 0.1px solid rgb(29, 29, 29);
  padding-left: 10px;
}

#search-bar:focus {
  background-color: white;
}

.title {
  object-fit: cover;
  object-position: 0% 15px;
}

.title-header2 {
  margin-top: -25px;
}

.link3 {
  height: 27px;
}

.title-header3 {
  margin-top: -25px;
}

.title3 {
  width: 980px;
  object-fit: cover;
  object-position: 0% 30px;
}

.title3:hover {
  object-fit: cover;
  object-position: 0% -30px;
  padding-top: 28px;
}

.aside-pics {
  width: 25vw;
  object-fit: cover;
  object-position: -30px 0;
}

aside {
  display: flex;
  flex-direction: row;
  margin-top: -42px;
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  align-content: flex-start;
}

.promo1 {
  background: url("media/promo_iphone5s.jpg") -20px 0 no-repeat;
  margin: auto;
}

.promo1a {
  display: block;
  height: 200px;
  width: 25vw;
}

.promo2 {
  background: url("media/promo_iphone5c.jpg") -20px 0 no-repeat;
  margin: auto;
}

.promo2a {
  display: block;
  height: 200px;
  width: 25vw;
}

.promo3 {
  background: url("media/promo_30_years.jpg") -20px 0 no-repeat;
  margin: auto;
}

.promo3a {
  display: block;
  height: 200px;
  width: 25vw;
}

.promo4 {
  background: url("media/promo_supplier_responsibility.jpg") -20px 0 no-repeat;
  margin: auto;
}

.promo4a {
  display: block;
  height: 200px;
  width: 25vw;
}

footer {
  width: 100vw;
  height: 60px;
  display: block;
}

.footer-container {
  width: 78vw;
  height: 60px;
  margin: auto;
}

.footer-p {
  font-size: 12px;
  color: rgb(110, 110, 110);
  display: inline-block;
}

.footer-a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.footer-a:visited {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.footer-a:hover {
  text-decoration: underline;
  color: rgb(0, 136, 204);
}

l1 {
  padding-right: 5px;
  border-right: rgb(204, 204, 204) 1px solid;
}

.country-icon {
  height: 12px;
  margin-left: 5px;
}

.first-footer {
  margin-top: 15px;
}

.second-footer {
  margin-top: -15px;
  margin-bottom: 15px;
}